<!DOCTYPE html>
<html ng-app="onlineMarket">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <base href="/">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Online market", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <a ng-href="/register">Register</a>
                <a ng-href="/login">Login</a>
            </div>
        </div>
    </div>

    <div class="container body-content" ng-view>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-route.js")
    @Scripts.Render("~/Scripts/angular-cookies.js")
    @Scripts.Render("~/Scripts/angular-base64.js")
    @Scripts.Render("~/Scripts/app/app.js")
    @Scripts.Render("~/Scripts/app/services/apiService.js")
    @Scripts.Render("~/Scripts/app/services/membershipService.js")
    @Scripts.Render("~/Scripts/app/home/indexCtrl.js")
    @Scripts.Render("~/Scripts/app/account/loginCtrl.js")
    @Scripts.Render("~/Scripts/app/account/registerCtrl.js")
    @RenderSection("scripts", required: false)
</body>
</html>
